
body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    background-color: #f1f1f1;
    padding-top: 100px;
  }
  .login-container {
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .login-form {
    padding: 60px;
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .login-form h2 {
    margin-bottom: 30px;
    color: #4caf50 !important;;
  }
  .login-form input {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 0;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  
  .login-form .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .login-form .social-icons a {
    font-size: 20px;
    margin: 0 10px;
    color: #555;
    text-decoration: none;
  }
  .login-right {
    background-color: #4CAF50 ;
    align-items: center;
    color: white;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .login-right h2 {
    margin-bottom: 20px;
  }
  .login-right a {
    background-color: #4CAF50; /* Color de fondo */
    color: white;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 0;
    font-size: 16px;
    border: 1px solid white; /* Mantener un borde blanco */
    cursor: pointer;
}
  .login-right a:hover {
    background-color: white!important;
    color: #4CAF50;
    border: 1px solid #4CAF50;
}

  .form-group {
    position: relative;
}

  .form-group i {
    position: absolute;
    top: 65%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}
.login-form button:focus {
  outline: none!important;
  background-color: #4CAF50!important; /* Mantén el color verde */
  color: white!important; /* Mantén el texto blanco */
}

.login-form button:active {
  background-color: #4caf50!important; /* Mantén el color verde también al hacer clic */
  color: white; /* Mantén el texto blanco */
  border: none; /* Evita cualquier borde azul predeterminado */
}

body .login-container .login-right {
  background-color: #4CAF50 !important;
}

/* Estilo general para los inputs */
input {
  background-color: white !important; /* Fondo blanco por defecto */
  border: 1px solid #ccc; /* Borde gris claro por defecto */
  outline: none !important; /* Elimina cualquier outline */
  padding: 10px; /* Padding interno */
  width: 100%; /* Asegurar que ocupe todo el ancho del contenedor */
  border-radius: 4px; /* Añadir esquinas ligeramente redondeadas si deseas */
  box-shadow: none !important; /* Eliminar cualquier sombra */
}

/* Cuando el campo está en foco (al hacer clic en el input) */
input:focus {
  border: 2px solid black !important; /* Borde negro cuando está enfocado */
  background-color: white !important; /* Mantener el fondo blanco al enfocar */
  outline: none !important; /* Quitar el borde predeterminado */
  box-shadow: none !important; /* Eliminar cualquier sombra de foco */
}

/* Para Chrome, Safari y navegadores Webkit (elimina el color azul de auto-relleno) */
input:-webkit-autofill {
  background-color: white !important; /* Mantener el fondo blanco al auto-rellenar */
  color: black !important; /* Texto negro para autofill */
  border: 1px solid black !important; /* Borde negro en autofill */
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; /* Fondo blanco para autofill */
  box-shadow: 0 0 0px 1000px white inset !important; /* Fondo blanco para autofill */
}

/* Para Firefox (elimina el color azul de auto-relleno) */
input:-moz-autofill {
  background-color: white !important; /* Fondo blanco para autofill en Firefox */
  color: black !important; /* Texto negro para autofill */
  border: 1px solid black !important; /* Borde negro para autofill */
}
/* Estilos específicos para el botón de login */
.btn-login {
  background-color: #4CAF50; /* Color de fondo verde */
  color: white; /* Color del texto */
  padding: 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 0; /* Sin bordes redondeados */
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Suavizar la transición */
}

/* Hover para el botón */


/* Focus y active para mantener el estilo cuando se hace clic */
.btn-login:focus, .btn-login:active {
  outline: none!important; /* Elimina el borde por defecto */
  background-color: #4CAF51 !important; /* Verde un poco más oscuro */
  color: white; /* Mantén el texto en blanco */
  transform: none !important;
}
.btn-register {
  background-color: white !important;
  color: #4CAF50 !important;
  border: 0  white !important;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 0!important;
}

.swal2-title-small {
  font-size: 40px !important;
}

.swal2-text-small {
  font-size: 20px !important;
}

.swal2-confirm-small {
  font-size: 14px;
  padding: 10px 30px;
}



/*---------------------------------Seccion del nav----------------------------------------*/
/* Estilo general para la navbar */
.navbar {
  background-color: black;
  padding: 0;
}

/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link.active {
  color: #B2FF59 !important;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
  color: white !important;
  transition: color 0.3s ease;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.navbar-nav .nav-link:hover {
  color: #B2FF59 !important;
}

/* Estilo especial para el botón "Contáctanos" */
.navbar-nav .highlight {
  background-color: #4CAF50;
  padding: 8px 20px;
}

.navbar-nav .highlight:hover {
  background-color: #000;
}

/* Estilo para los íconos */
.navbar-nav .nav-link i {
  font-size: 18px;
  color: white;
}

.navbar-nav .nav-link i:hover {
  color: #B2FF59;
}

.navbar-brand:hover {
  color: #B2FF59 !important;
}

.navbar-toggler {
  border-color: white;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#greeting-item {
  padding: 8px 15px;
  color: white !important;
  transition: color 0.3s ease;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  /* El logo y los enlaces deben centrarse en pantallas pequeñas */
  .navbar {
      padding: 10px;
  }

  .navbar-collapse {
      text-align: center;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
  }

  .navbar-brand {
      font-size: 20px;
      justify-content: center;
  }

  .navbar-nav .nav-link {
      padding: 10px;
      font-size: 18px;
  }

  .navbar-toggler {
      border: none;
  }
}
/*------------------------------Fin Secciones del nav-------------------------------------*/



/* ------------------------------Secciones del footer------------------------------------ */
/* Contenedor principal del footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 40px;
  flex-wrap: wrap;
}
.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
}

/* Títulos de las secciones del footer */
.footer-section h5 {
  margin-bottom: 25px !important;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  font-size: 25px;
}

/* Estilo para los enlaces del footer */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-section ul li a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 8px;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--color5)!important;
}

/* Estilo para los iconos de redes sociales */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons li {
  list-style: none;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
}
/* ----------------------------fin Secciones del footer---------------------------------- */