/* Product Cards */
.property-img {
    position: relative; /* Necesario para posicionar elementos hijos de manera absoluta */
    width: 400px; /* Ancho de la tarjeta */
    height: 200px; /* Alto de la tarjeta */
    overflow: hidden; /* Para que el contenido no sobresalga */
}

.property-img img {
    width: 100%; /* Que la imagen ocupe todo el ancho */
    height: 100%; /* Que la imagen ocupe toda la altura */
    object-fit: cover; /* Ajusta la imagen para que siempre cubra todo el espacio sin deformarse */
    transition: filter 0.3s ease; /* Transición suave para el efecto hover */
    filter: brightness(50%); /* Aplica una reducción del brillo al 50% para oscurecer */
}

.price p{
    position: absolute; /* Posicionamiento absoluto dentro de .property-thumb */
    bottom: 5px; /* A 10px del borde inferior */
    left: 10px; /* A 10px del borde izquierdo */
    background-color: var(--color11); /* Fondo verde */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Texto en negrita */
}

.card {
    border: none !important;
    border-radius: 0px !important;
    box-shadow: 0 1px 4px var(--color9); /* Sombra suave */
}

h2 {
    font-size: 55px !important;
}

h3{
    font-size: larger !important;
    font-weight: bolder !important;
}

.bi {
    font-size: small;
}

.bi-geo-alt-fill {
    font-size: small;
    color: var(--color11); /* Cambia el color del icono a rojo */
}

.location-text {
    color: gray;
    font-size: small;
    font-weight: lighter;
}

.status-text {
    font-size: small;
    background-color: var(--color12);
    color: white;
    padding: 3%;
}

.row {
    padding: 2%;
}

.details-text {
    font-size: small;
    color: gray;
}
.card:hover .property-img img {
    filter: brightness(100%); /* Restablece el brillo al 100% al pasar el mouse */
}

.card:hover .price p {
    box-shadow: 0 2px 6px var(--color9);; /* Sombra suave */
}

.card .btn-primary {
    padding-left: 20px !important;
    padding-right: 20px !important;
    border-radius: 0px !important;
    background-color: var(--color5) !important;
    border-color: var(--color5) !important;
}

.card .btn-secondary {
    padding-left: 20px !important;
    padding-right: 20px !important;
    white-space: nowrap !important; /* Previene que el texto se divida en dos líneas */
    border-radius: 0px !important;
    background-color:black !important;
    border-color: black !important;
}

.card .btn-secondary:hover {
    transform: scale(1.05);
}

.swal2-title-small {
    font-size: 40px !important;
}

.swal2-text-small {
    font-size: 20px !important;
}

.swal2-confirm-small {
    font-size: 14px;
    padding: 10px 30px;
}


/*---------------------------------Seccion del nav----------------------------------------*/
/* Estilo para el navbar transparente */


.transparent-nav .navbar-brand, .transparent-nav .nav-link .navbar-nav {
    color: white !important; /* Texto en blanco para contrastar con la imagen */
}

/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link.active {
    color: #B2FF59 !important;
}

/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link {
    padding: 8px 15px;
    transition: color 0.3s ease;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.navbar-nav .nav-link:hover {
    color: #B2FF59 !important;
}

/* Estilo especial para el botón "Contáctanos" */
.navbar-nav .highlight {
    background-color: #4CAF50;
    padding: 8px 20px;
}

.navbar-nav .highlight:hover {
    background-color: #000;
}

/* Estilo para los íconos */
.navbar-nav .nav-link i {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link i:hover {
    color: #B2FF59;
}

.navbar-brand:hover {
    color: #B2FF59 !important;
}

.navbar-toggler {
    border-color: white;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

#greeting-item {
    padding: 8px 15px;
    color: white !important;
    transition: color 0.3s ease;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

body.scrolled .transparent-nav {
    background-color: black !important;
    transition: color 0.3ms ease;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    /* El logo y los enlaces deben centrarse en pantallas pequeñas */
    .navbar {
        padding: 10px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        font-size: 20px;
        justify-content: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 18px;
    }

    .navbar-toggler {
        border: none;
    }

    .map {
        padding-top: 30px;
    }

    .banner-section h1 {
        font-size: 65px !important;
    }
}
/*------------------------------Fin Secciones del nav-------------------------------------*/

/* Sección del banner */
.banner-section {
    background-image: url('/img/background_terminos.jpg'); /* Ruta a la imagen */
    background-size: cover;
    background-position: center;
    height: 380px; /* La altura es 100% de la ventana */
    position: relative;
    padding-top: 60px; /* Ajuste por el navbar fijo */
}

.banner-section .container {
    z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

.banner-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Filtro oscuro sobre la imagen */
    z-index: 0;
}

.banner-section .container {
    position: relative;
    z-index: 1;
}

.text-white {
    color: white;
}

/* Fin de Sección del banner */

/* ------------------------------Secciones del footer------------------------------------ */
/* Contenedor principal del footer */
.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 40px;
    flex-wrap: wrap;
}
.footer-section {
    flex: 1;
    margin: 0 20px;
    min-width: 200px;
}

/* Títulos de las secciones del footer */
.footer-section h5 {
    margin-bottom: 25px !important;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 10px;
    font-size: 25px;
}

/* Estilo para los enlaces del footer */
.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.footer-section ul li a {
    color: #ecf0f1;
    text-decoration: none;
    margin-left: 8px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #B2FF59;
}

/* Estilo para los iconos de redes sociales */
.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons li {
    list-style: none;
}

.social-icons a {
    color: white;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.footer-bottom p {
    margin: 5px 0;
    font-size: 14px;
}
/* ----------------------------fin Secciones del footer---------------------------------- */