  body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
    background-color: #f1f1f1;
    padding-top: 100px; 
}
  .register-container {
    background-color: white;
    border-radius: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    height: 100%;
  }
  .register-form {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  .register-form h2 {
    margin-bottom: 30px;
    color:  #4CAF50
  }
  .register-form input {
    /* margin-bottom: 20px; */
    padding: 15px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
  }
  .register-form button {
    padding: 15px;
    border-radius: 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .register-form button:hover {
    background-color: white;
    color: #4CAF50;
    border: 1px solid #4CAF50;

    }
  
  .register-right {
    background-color: #4CAF50 !important;
    align-items: center;
    color: white;
    padding: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }
  .register-right h2 {
    margin-bottom: 20px;
  }
  .register-right a {
    color: white;
    background-color: #4CAF50;
    border: 1px solid white;
    padding: 10px 30px;
    border-radius: 0;
    text-decoration: none;
  }
  .register-right a:hover {
    background-color: #fff;
    color: #4CAF50;
  }

  .form-group {
    position: relative;
}

  .form-group i {
    position: absolute;
    top: 40%;
    right: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}

.form-group span {
  position: absolute;
  top: 65%;
  right: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #aaa;
}


/*---------------------------------Seccion del nav----------------------------------------*/
/* Estilo general para la navbar */
.navbar {
  background-color: black;
  padding: 0;
}
/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link.active {
  color: #B2FF59 !important;
}

.navbar-nav .nav-link {
  padding: 8px 15px;
  color: white !important;
  transition: color 0.3s ease;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.navbar-nav .nav-link:hover {
  color: #B2FF59 !important;
}

/* Estilo especial para el botón "Contáctanos" */
.navbar-nav .highlight {
  background-color: #4CAF50;
  padding: 8px 20px;
}

.navbar-nav .highlight:hover {
  background-color: #000;
}

/* Estilo para los íconos */
.navbar-nav .nav-link i {
  font-size: 18px;
  color: white;
}

.navbar-nav .nav-link i:hover {
  color: #B2FF59;
}

.navbar-brand:hover {
  color: #B2FF59 !important;
}

.navbar-toggler {
  border-color: white;
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
}

.icon-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
  /* El logo y los enlaces deben centrarse en pantallas pequeñas */
  .navbar {
      padding: 10px;
  }

  .navbar-collapse {
      text-align: center;
  }

  .navbar-nav {
      flex-direction: column;
      align-items: center;
  }

  .navbar-brand {
      font-size: 20px;
      justify-content: center;
  }

  .navbar-nav .nav-link {
      padding: 10px;
      font-size: 18px;
  }

  .navbar-toggler {
      border: none;
  }
}
/*------------------------------Fin Secciones del nav-------------------------------------*/


/* ------------------------------Secciones del footer------------------------------------ */
/* Contenedor principal del footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 40px;
  flex-wrap: wrap;
}
.footer-section {
  flex: 1;
  margin: 0 20px;
  min-width: 200px;
}

/* Títulos de las secciones del footer */
.footer-section h5 {
  margin-bottom: 25px !important;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 2px solid #4CAF50;
  padding-bottom: 10px;
  font-size: 25px;
}

/* Estilo para los enlaces del footer */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.footer-section ul li a {
  color: #ecf0f1;
  text-decoration: none;
  margin-left: 8px;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--color5);
}

/* Estilo para los iconos de redes sociales */
.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons li {
  list-style: none;
}

.social-icons a {
  color: white;
  font-size: 24px;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
}
/* ----------------------------fin Secciones del footer---------------------------------- */