/*Paleta de colores*/
:root {
    --color1: #FFC107;
    --color2: #FFEB3B;
    --color3: #CC29E8;
    --color4: #795548;
    --color5: #4CAF50;
    --color6: #B2FF59;
    --color7: white;
    --color8: black;
    --color9: #0000001a; /* Sombras */
    --color10: #000000b3; /* Fondo negro con transparencia */
    --color11: #5EA51D;
    --color12: #FD5C64;
}

/*Estilos de texto (fuente y tamaño)*/
body {
    font-family: 'Roboto', sans-serif !important;
}

h1 {
    font-size: 80px !important;
    font-weight: bold !important;
}
h2 {
    font-size: 55px !important;
}
h3 {
    font-size: 45px !important;
}
h4 {
    font-size: 35px !important;
}
h5 {
    font-size: 25px !important;
}
h6 {
    font-size: 15px !important;
}

p {
    font-size: 17px !important;
    font-weight: bold !important;
}

/*Estilos de boton*/
.btn {
    background-color: var(--color5) !important;
    color: var(--color7) !important;
    border: 2px solid var(--color5) !important;
    padding: 8px 8px !important;
    text-decoration: none !important;
    transition: background-color 0.5s, color 0.5s !important;
    width: 132px !important;
  }

.btn:hover {
    background-color: var(--color8) !important;
    color: #ffffff !important;
    border-color: var(--color8) !important;
}

/*Estilos de card*/
.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover; 
    max-height: 300px;
}

.card {
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    /* Cambio hecho por Andrés */
    box-shadow: 0 2px 6px var(--color9);
}
