/*---------------------------------Seccion del nav----------------------------------------*/
.navbar-links .navtex.active,.navbar-brand.navtex.active {
    color: #B2FF59 !important;
}

.navbar-links {
    display: flex;
    gap: 5px;
}

.navbar {
    background-color: black;
}

.navbar-brand i {
    transition: color 0.3s ease;
}

.navbar-brand:hover i {
    color: #B2FF59;
}

.navtex {
    color: white !important;
    transition: color 0.3s ease;
}

.navtex:hover {
    color: #B2FF59 !important;
}

.navbar-links .navtex {
    font-size: 15px;
}


/* Ajuste para pantallas pequeñas */
@media (max-width: 767px) {
    .navbar-links {
        flex-direction: column;
        align-items: right;
    }

    .navbar-links a {
        width: 92%;
        text-align: right;
    }

    .highlight {
        background-color: #000000 !important;
        width: 95% !important;
    }
}

.highlight {
    background-color: #4CAF50;
    color: #000000;
    padding: 8px 12px;
}

.highlight:hover {
    background-color: #000000;
}

/*------------------------------Fin Secciones del nav-------------------------------------*/
