/*---------------------------------Seccion del nav----------------------------------------*/
/* Estilo general para la navbar */
.navbar {
    background-color: black;
    padding: 0;
}

/* Estilo para los enlaces de la navbar */
.navbar-nav .nav-link {
    padding: 8px 15px;
    color: white !important;
    transition: color 0.3s ease;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
}

.navbar-nav .nav-link:hover {
    color: #B2FF59 !important;
}

/* Estilo especial para el botón "Contáctanos" */
.navbar-nav .highlight {
    background-color: #4CAF50;
    padding: 8px 20px;
}

.navbar-nav .highlight:hover {
    background-color: #000;
}

/* Estilo para los íconos */
.navbar-nav .nav-link i {
    font-size: 18px;
    color: white;
}

.navbar-nav .nav-link i:hover {
    color: #B2FF59;
}

.navbar-brand:hover {
    color: #B2FF59 !important;
}

.navbar-toggler {
    border-color: white;
}

.navbar .container-fluid {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* Ajuste para pantallas pequeñas */
@media (max-width: 768px) {
    /* El logo y los enlaces deben centrarse en pantallas pequeñas */
    .navbar {
        padding: 10px;
    }

    .navbar-collapse {
        text-align: center;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-brand {
        font-size: 20px;
        justify-content: center;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 18px;
    }

    .navbar-toggler {
        border: none;
    }
}
/*------------------------------Fin Secciones del nav-------------------------------------*/